@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

.landing {
    width: 100vw;
    height: 100vh;
    background-color: #360369;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing h1 {
    width: calc((693px/1024px)*100vw);
    height: calc((144px/1024px)*100vh);
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 10vw;
    font-weight: 700;
}

.btn {
    width: 30vw;
    height: 10vh;
    background-color: #FFF;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
}

.container {
    height: 100vh;
    width: 100vw;
    display: none;
}

.upper {
    width: calc(100vw - 50px);
    height: 70vh;
    background-color: #360369;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.upper h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 700;
}

.location {
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 300;
}

.upper div {
    width: 80%;
    height: 10%;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.upper .lat p {
    width: 20vw;
    height: 5vh;
    border-radius: 5px;
    background-color: #270846;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper .map {
    width: 90%;
    height: 60%;
}

.lower {
    width: calc(100vw - 50px);
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    overflow-y: auto;
}

.lower h1 {
    margin-block: 15px;
    width: 80%;
    color: #360369;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
}

.details {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.details div {
    width: 300px;
    height: 50px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid #360369;
    background-color: #360369;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 480px) {
    .btn {
        font-size: 15px;
    }

    .upper h1 {
        font-size: 20px;
    }

    .location {
        font-size: 15px;
    }

    .upper .lat p {
        width: 40vw;
        height: 5vh;
        font-size: 10px;
    }
}

@media screen and (max-width:768px) and (min-width: 481px) {
    .upper h1 {
        font-size: 20px;
    }

    .location {
        font-size: 15px;
    }

    .upper .lat p {
        width: 40vw;
        height: 5vh;
        font-size: 10px;
    }
}